

<table>
  {{#each model as |game|}}
  <tr>
    <td>{{game.titulo}}</td>
    <td>{{game.situacao}}</td>
    <td><img src="{{game.cover_url}}"/></td>
    <button {{action 'trocaDisponibilidade' game}}>Alternar</button>
  </tr>
  {{/each}}
</table>




{{outlet}}
